
.secret-history
    width: 100%

.secret-history-header
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between

.secret-history-navigation
    display: flex
    flex-direction: row
    align-items: center
