
.layout
  min-width: 300px
  max-height: calc(100% - 20px)
  flex: 1 1 100%
  display: flex
  flex-direction: row
  align-items: stretch

.layout-pane
  display: contents
  align-items: stretch

.secretin-version
  display: block
  text-align: right
  font-size: 12px

.secretin-version-text
  opacity: .3

.new-in-secretin-version
  color: $color-error
  text-align: right
  font-size: 30px
  cursor: pointer

.footer
  flex: 1
  flex-direction: column
