.button
  display: inline-flex
  align-items: center
  justify-content: center
  border: none
  background-color: transparent
  padding: 0
  outline: none
  cursor: pointer
  text-decoration: none
  &[disabled]
    opacity: .6
    cursor: default
    &:hover,
    &:active
      opacity: .6

.button--size-small
  height: 28px
  font-size: 11px
  padding: 0 16px 1px
  border-radius: 3px
  @media screen and (max-width: $width-small)
    padding: 5px 16px

.dropdown button,
.button--size-base
  height: 44px
  font-size: 12px
  padding: 0 28px
  border-radius: 3px

.button--style-default
  background-color: $color-silver
  color: $color-text
  font-weight: $font-weight-bold
  text-transform: uppercase
  letter-spacing: 1px

.button--style-primary
  @extend .button--style-default
  background-color: $color-turquoise-my-secret-in
  color: white

.button--style-warning
  @extend .button--style-primary
  background-color: $color-alizarin

.button--style-success
  @extend .button--style-primary
  background-color: $color-nephritis

.button--style-default,
.button--style-primary,
.button--style-warning
  &.button--size-base
    .icon
      margin-left: -12px
      margin-right: 6px
  &.button--size-small
    .icon
      margin-left: -8px
      margin-right: 4px

.dropdown button,
.button--style-icon
  background: none
  color: $color-text
  padding: 0
  &[disabled]
    opacity: .2
    &:hover,
    &:active
      opacity: .2

.button:hover,
.button:active
  opacity: .8
  text-decoration: none
