.user-connect
  flex: 1 1 auto
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.user-connect-title
  text-align: center
  margin: 0 0 20px
  small
    margin-left: 8px
    font-size: inherit
    font-weight: $font-weight-light

.user-connect-form
  width: 280px

.user-connect-more
  text-align: center
  margin: 10px 0 0
  color: $color-peter-river

.user-connect-create
  text-align: center
  margin: 10px 0 0
  a
    color: $color-peter-river

.user-connect-progress
  color: rgba($color-brand, .8)
  max-width: 400px
  min-height: 180px
  text-align: center

.user-connect-progress-title
  font-size: 22px
  font-weight: bold
  margin: 0 0 8px

.user-connect-progress-text
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace
  font-size: 18px
  line-height: 24px
