.options
  padding: 20px

.options-section
  margin: 0 0 40px

.options-section-title
  margin: 0 0 20px

.options-section-item
  margin: 0 0 10px

input[type=range]
  position: relative
  margin-left: 1em

input[type=range]:after, input[type=range]:before
  position: absolute
  top: 1em
  color: black

input[type=range]:before
  left: 0em
  content: attr(min)

input[type=range]:after
  right: 0em
  content: attr(max)